/* Write your code here. */
body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.image {
  width: 160px;
  height: 160px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 320px;
    height: 320px;
  }
}
